*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Inter', Arial, sans-serif;
  margin: 0;
  overflow-x: hidden;
}

#root {
  background-color: rgb(96, 161, 199);
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

main {
  flex: 1;
}

.h1-heading {
  font-weight: 800;
  color: #ffffff;
  margin-top: 9vh;
  margin: 0;
}

/* NAVBAR */

.navbar.custom-navbar {
  background-color: rgb(96, 161, 199) !important;
  box-shadow: 0 2px 10px rgba(55, 85, 137, 0.3);
  padding: 1.4vh;
}

.navLogo {
  max-width: 13rem;
  padding-right: 10px;
  padding-left: 8px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link.text {
  color: aliceblue;
  font-weight: 500;
  max-height: 40px;
  transition: color 0.3s ease, transform 0.3s ease;

}

.material-symbols-outlined.user {
  color: aliceblue;

}

.navbar .nav-link:hover {
  color: #1e5777;

}


/* ETUSIVU */
.carousel {
  box-shadow: 0 4px 8px rgba(89, 152, 183, 0.839);
}

.etusivu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 16vw;
  margin-right: 16vw;
  margin-top: 1rem;
  padding-top: 2rem;
  padding-bottom: 4rem;

}

.etusivu-h1 {
  color: rgb(255, 255, 255);
  font-weight: 800;
}

.etusivu-p {
  color: rgb(255, 255, 255);
  font-size: 1.3em;
}

.material-symbols-outlined.tassu-etusivu {
  color: rgb(255, 255, 255);
  font-size: 4rem;
}

.tuotteet-button {
  display: inline-block;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(53, 139, 182, 0.839);
  color: rgb(63, 151, 196);
  border-radius: 1rem;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: 800;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.tuotteet-button:hover {
  background-color: rgb(41, 117, 155);
  color: white;
  transform: scale(1.05);
}


/* MEISTA*/

.meista-container {
  background-color: white;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: 40px auto;
}

.meista-heading {
  text-align: center;
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.meista-image {
  width: 100%;
  height: auto;
  border-radius: 30px;
  margin: 20px 0;
}

h3 {
  color: #444;
  margin-top: 20px;
}

/* REGISTER */
.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  font-family: 'Roboto', sans-serif;
  color: #333;
  flex-direction: column;
}

.register-heading {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
 
}

.register-container {
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;

}

.register-form {
  
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-group label {
  font-size: 1rem;
  color: #666;
  font-weight: 500;
}

.input-group input {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ddd;
background-color: #d9edf5;
  outline: none;
  transition: border-color 0.3s;
}

.input-group input:focus {
  border-color: #1e5777;
}

.form-footer {
  display: flex;
  justify-content: center;
}

.register-btn {
  background-color: rgb(96, 161, 199);;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.register-btn:hover {
  background-color: #164f64;
  transform: scale(1.05);
}

.register-btn:active {
  background-color: #143c4f;
}

/* TUOTTEET */
.bg {
  background-image: url('./assets/kuvat/taustakuva.jpg');
  background-size:cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
}

.tuotteet-header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: center;

  gap: 2vw;


}

.material-symbols-outlined.tassu {
  font-size: 1em;
}

.catalog-container {
  
  display: flex;
  margin-top: 9vh;
  margin-left: 20rem;
  margin-right: 20rem;
  margin-bottom: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.grid-bg {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 7vh;
  padding-top: 2vh;
  margin-top: 6vh;
  box-shadow: 0 2px 30px rgba(57, 136, 220, 0.698);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.error {
  color: red;
  text-align: center;
  font-size: 1.5rem;
}





.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;

}


.product-card {
  background: rgb(255, 255, 255);
  border-radius: 10px;

  padding: 1rem 1rem 1rem 1rem;
  transition: transform 0.3s ease;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.product-card:hover {
  transform: translateY(-5px);
}

.product-icon {
  margin-bottom: 1rem;
}

.icon-container {
  background-color: #d9edf5;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  padding: 5.5rem;

}

.hinta {
  font-weight: bold;
  text-align: center;
  margin: 0
}

hr.tuote-divider-hr {
  color: rgb(167, 167, 167);
  margin: 0.6rem;

  margin-bottom: 0.8rem;
}

button.info-button {

  justify-content: end;
}

.google-shopping-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  font-size: 1rem;

}

.hinta-osta {
  gap: 4px;
  display: flex;
  flex-direction: row;
}

.material-symbols-outlined.info {
  color: #444;
}

.material-symbols-outlined.shopping {
  color: #444;
  ;
  font-size: 1.4rem;

}

.google-shopping-banner p {
  margin: 0;
  color: #444;
  ;

}

.product-header {
  display: flex;
  justify-content: space-between;

  align-items: center;
  width: 100%;
}

.product-header p {
  margin-left: 10px;
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(66, 66, 66);
}




/*FOOTER*/
.footer {
  background-color: rgb(239, 239, 239);
  box-shadow: 0 10px 30px rgb(43, 63, 98);
  padding: 6px 0;
  width: 100%;
  text-align: center;
  z-index: 100;
  position: relative;
  bottom: 0;

}


.footer-text {
  color: rgb(70, 127, 160);
  margin: 0;
}


.footer-link {
  color: #333;
  text-decoration: none;
  font-size: 16px;
}

/* MOBILE*/





@media (max-width: 1164px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }


}

@media (max-width: 768px) {
  .products-grid {
    grid-template-columns: 1fr;
    
  }

  .catalog-container {
    margin-left: 6rem;
    margin-right: 6rem;
    margin-bottom: 5rem;
    padding: 0 1rem;
    margin-top: 0;
  }

  .h1-heading {
    font-weight: 800;
    color: #ffffff;
    margin-top: 2vh;
    margin: 0;
    
  }

  .grid-bg {
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 2vh;
    margin: 20rem;
    padding-top: 2vh;
    margin-top: 6vh;


  }


  .tuotteet-header {
    margin-top: 7vh;
    flex-direction: column;

    gap: 30px;
    padding: 0;

    margin-bottom: 0;
    width: 0;

  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
  }

  .etusivu-container {

    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 1rem;
    padding-top: 2rem;
    padding-bottom: 4rem;



  }

  .etusivu-p {
    font-size: 1.3em;
  }


}